<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>756139669376-eeo09geutj2r3oos8j4jae057pktlhe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756139669376-eeo09geutj2r3oos8j4jae057pktlhe8</string>
	<key>API_KEY</key>
	<string>AIzaSyDyiTnkiDMygaLejzaEsiPda2oIwjCVorY</string>
	<key>GCM_SENDER_ID</key>
	<string>756139669376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nkdev.Split-Saver</string>
	<key>PROJECT_ID</key>
	<string>split-saver</string>
	<key>STORAGE_BUCKET</key>
	<string>split-saver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:756139669376:ios:793110d80df7480f</string>
	<key>DATABASE_URL</key>
	<string>https://split-saver.firebaseio.com</string>
</dict>
</plist>